<% if current_user.present? %>
  <%# <div class="admin-form commentForm"> %>
    <%#   <%= form_for [@commentable, @comment], remote: true, authenticity_token: true, %>
    <%#     builder: CommentFormBuilder do |f| %1> %>
    <%#     <%= f.text_area_with_submit :comment, %>
    <%#       placeholder: "Respond with a comment..", %>
    <%#       class: "gui-textarea", icon: 'comments', required: true %1> %>
    <%#   <% end %1> %>
  <%#   <div class="new-comment-error" style="display: none"></div> %>
  <%# </div> %>
<%= form_for [@commentable, @comment], remote: true, authenticity_token: true do |f| %>
  <div class="row b-b b-grey p-t-20 p-l-20 p-r-20">
    <div class="thumbnail-wrapper d32 circular b-white m-r-10  b-a b-white">
      <%= current_user.avatar_link %>
    </div>
    <div class="col-sm-10 no-padding">
      <span class="text-black"><%= current_user.name %></span>
      <div class="input-group transparent no-border full-width">
        <%= f.text_area :comment, rows: 2, placeholder: "Write a comment",
          class: "no-border fs-14 p-l-0 p-t-5 p-b-10 full-width" %>
      </div>
      <div class="clearfix">
        <div class="pull-right">
          <%= f.submit "Comment", class: "btn btn-link font-montserrat text-uppercase text-complete fs-12" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<% else %>
  <div class="alert alert-sm alert-warning pastel mt20 flash-SignInRequired">
    <i class="fa fa-warning pr10"></i>
    <strong>Please, <%= link_to "login", new_user_session_path %> to add comments.</strong>
  </div>
<% end %>
