<% col_size = "md" unless col_size %>
<div class="col-<%= col_size %>-4">
  <%= fa_omniauth_button 'facebook', class: "span-left mr5" %>
</div>
<div class="col-<%= col_size %>-4">
  <%= fa_omniauth_button 'twitter', class: "span-left mr5" %>
</div>
<div class="col-<%= col_size %>-4">
  <%= fa_omniauth_button 'google-plus', title: "Google+", class: "googleplus span-left mr5" %>
</div>

