<p class="p-t-35">Resend account unlock email</p>
<%= devise_error_messages! %>
<%= render 'devise/shared/omniauth_links' %>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { class: "p-t-15", role: "form", method: :post }) do |f| %>
  <div class="form-group form-group-default">
    <%= f.label :login %>
    <div class="controls">
      <%= f.text_field :login, autofocus: true, class: "form-control", required: true %>
    </div>
  </div>

  <%= f.submit "Send Unlock Email", class: "btn btn-primary btn-large btn-block m-t-10" %>
  <%= link_to "Log in", new_user_session_path, class: "btn btn-primary btn-cons m-t-10" %>
  <%= link_to "Register", new_user_registration_path, class: "btn btn-right btn-primary btn-cons m-t-10" %>
<% end %>
