<div class="add_identities">
  <h4>Add a new identity:</h4>
  <ul>
    <% Devise.omniauth_configs.keys.each do |provider| %>
      <li><%= oauth_link_to provider, oauth_icon_for(provider, size: "4x") %></li>
    <% end %>
  </ul>
</div>

<div class="table-responsive">
  <h4>Existing identities:</h4>
  <table class="table table-striped table-bordered table-hover table-middle-aligned">
    <thead>
      <tr>
        <th>Provider</th>
        <%# <th>Uid</th> %>
        <th>Image</th>
        <th>Name</th>
        <th>Email / Username</th>
      </tr>
    </thead>

    <tbody>
      <% if @user.identities.any? %>
        <%= content_tag_for(:tr, @user.identities) do |identity| %>
          <td>
            <li><%= oauth_link_to provider, oauth_icon_for(provider) %></li>
            <%= oauth_link_to provider, oauth_icon_for(provider, style: "vertical-align:middle") %>
            <span><%= identity.provider.titleize %></span>
          </td>
          <%# <td><%= identity.provider.titleize %1></td> %>
          <%# <td><%= identity.uid %1></td> %>
          <td><%= link_to image_tag(identity.image, width: 50), identity.url, target: '_blank' %></td>
          <td><%= identity.name %></td>
          <td><%= "#{identity.email} / #{identity.username}".gsub(/^\s*\//, '').gsub(/\/\s*$/, '').strip %></td>
        <% end %>
      <% else %>
        <tr><td colspan="4" style='text-align:center'>No identities attached!</td></tr>
      <% end %>
    </tbody>
  </table>
</div>
