<div class="panel heading-border panel-alert">
  <div class="panel-body light">
    <%= form_for(@user, url: edit_profile_path, html: { role: "form" }, builder: UserFormBuilder) do |f| %>
      <% if @user.errors.any? %>
        <div class="alert alert-danger alert-dismissable" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4><%= pluralize(@user.errors.count, "error") %> encountered:</h4>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
        <div class="col-md-6">
          <%= f.text_field :name, placeholder: "Enter email", class: "form-control", icon: 'user', required: true %>
        </div>
        <div class="col-md-6">
          <%= f.email_field :email, placeholder: "Enter email", class: "form-control", icon: 'user', required: true, email: true %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <%= f.password_field :password, autocomplete: 'off', class: "form-control", icon: 'lock', minlength: 4, maxlength: 32 %>
        </div>
        <div class="col-md-6">
          <%= f.password_field :password_confirmation, autocomplete: 'off', class: "form-control", icon: 'lock', minlength: 4, maxlength: 32, equalTo: "#user_password" %>
        </div>
      </div>
      <%= f.submit 'Update info', class: "btn-alert" %>
    </div>
  <% end %>
</div>
