<div class="row user-profile-box">
  <div class="col-xs-12 col-sm-6 col-md-3 m-b-10">
    <div class='user-info-card'>
      <div class='widget panel no-border no-margin bg-master-lighter'>
        <div class="panel-heading pull-top top-right">
          <h3 class="no-margin"><%= presenter.username_link %></h3>
        </div>
        <div class="container-xs-height">
          <div class="row row-xs-height">
            <div class="col-xs-5 col-xs-height col-middle relative">
              <%= presenter.avatar_link %>
            </div>
            <div class="col-xs-7 col-xs-height col-middle relative text-right">
              <div class='badges' style='margin-right: 16px'>
                <%= presenter.badge_list %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-3 m-b-10">
    <%= render partial: "widgets/counter_card", locals: {
      title: :products_found, status: :primary,
      counter: @user.found_products.count
    } %>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-3 m-b-10">
    <%= render partial: "widgets/counter_card", locals: {
      title: :likes_gained, status: :complete,
      counter: @user.found_products.map{|i| i.liker_ids.count}.sum
    } %>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-3 m-b-10">
    <%= render partial: "widgets/counter_card", locals: {
      title: :products_liked, status: :success,
      counter: @user.like_ids.count
    } %>
  </div>
</div>
