<%= render "profile_box", presenter: current_user, liked: @liked, found: @found %>

<div class="row admin-form">
  <div class="col-md-4">
    <%= render 'omniauth_identities' %>
  </div>
  <div class="col-md-8">
    <%= render 'profile_editing_form' %>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-md-12 text-center">
    <ul class="nav nav-pills mb20">
      <li class="active bg-danger">
        <a href="#liked-products" data-toggle="tab" class="btn">Products You <%= fa_icon('heart') %></a>
      </li>
      <li class="bg-alert">
        <a href="#found-products" data-toggle="tab" class="btn">Products You <%= fa_icon('search') %></a>
      </li>
    </ul>
  </div>
</div>

<div class="tab-content br-n pn">
  <div id="liked-products" class="tab-pane active">
    <%= ProductPresenter.listing_of @products[:liked], offset: 200, end_notice: false, scope: self %>
  </div>
  <div id="found-products" class="tab-pane">
    <%= ProductPresenter.listing_of @products[:found], offset: 200, end_notice: false, scope: self %>
  </div>
</div>
