<% presenter = present(@user); link = presenter.username_link %>
<%= render "profile_box", presenter: current_user, liked: @liked, found: @found %>

<div class="row admin-form">
  <div class="col-md-4">
    <%= render 'omniauth_identities' %>
  </div>
  <div class="col-md-8">
    <%= render 'profile_editing_form' %>
  </div>
</div>

<hr/>
<div class="row user-product-listing">
  <div class="col-sm-6">
    <div class="panel bg-transparent">
      <div class="panel-heading">
        <div class='panel-title text-black hint-text'>
          <span class="font-montserrat fs-11 all-caps">
            Products Liked by <%= link %> <i class="fa fa-chevron-right"></i>
          </span>
        </div>
      </div>
      <div class="panel-body panel-scrollable">
        <div id="liked-products" class="tab-pane">
          <%= listing_of :products, @products[:liked], offset: 200,
            no_end_notice: true, mini: true, group: :liked, url: "/#{presenter.username}/liked.json" %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel bg-transparent">
      <div class="panel-heading">
        <div class='panel-title text-black hint-text'>
          <span class="font-montserrat fs-11 all-caps">
            Products Found by <%= link %> <i class="fa fa-chevron-right"></i>
          </span>
        </div>
      </div>
      <div class="panel-body panel-scrollable">
        <div id="found-products" class="tab-pane active">
          <%= listing_of :products, @products[:found], offset: 200,
            no_end_notice: true, mini: true, group: :found, url: "/#{presenter.username}/found.json" %>
        </div>
      </div>
    </div>
  </div>
</div>
