<%= render "profile_box", presenter: current_user %>

<div class="page-header">
  <%= current_user.profile_link fa_icon('male') + " View Profile As Others", class: 'btn btn-default pull-right' %>
  <%= link_to fa_icon('home') + " Home", root_path, class: 'btn btn-default pull-right mr10' %>
  <h2>Edit Profile</h2>
</div>

<div class="row admin-form theme-success">
  <div class="col-md-4 pb20">
    <%= render 'identities' %>
  </div>
  <div class="col-md-8">
    <%= render 'form' %>
  </div>
</div>
