<% presenter = present(@user); link = presenter.username_link %>
<%= render partial: "profile_box", locals: { presenter: presenter, liked: @liked, found: @found } %>

<div class="row user-product-listing">
  <div class="col-sm-6">
    <div class="panel bg-transparent">
      <div class="panel-heading">
        <div class='panel-title text-black hint-text'>
          <span class="font-montserrat fs-11 all-caps">
            Products Liked by <%= link %> <i class="fa fa-chevron-right"></i>
          </span>
        </div>
      </div>
      <div class="panel-body panel-scrollable">
        <div id="liked-products" class="tab-pane">
          <%= listing_of :products, @products[:liked], offset: 200, end_notice: false, mini: true, group: :liked, path_prefix: "#{presenter.username}/liked" %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel bg-transparent">
      <div class="panel-heading">
        <div class='panel-title text-black hint-text'>
          <span class="font-montserrat fs-11 all-caps">
            Products Found by <%= link %> <i class="fa fa-chevron-right"></i>
          </span>
        </div>
      </div>
      <div class="panel-body panel-scrollable">
        <div id="found-products" class="tab-pane active">
          <%= listing_of :products, @products[:found], offset: 200, end_notice: false, mini: true, group: :found, path_prefix: "#{presenter.username}/found" %>
        </div>
      </div>
    </div>
  </div>
</div>
