<p class="p-t-35">Change your password!</p>
<%= devise_error_messages! %>
<%# <%= render 'devise/shared/omniauth_links' %1> %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: "p-t-15", role: "form", method: :put }) do |f| %>
  <%= f.hidden_field :reset_password_token %>

  <div class="form-group form-group-default">
    <%= f.label :password, "New Password" %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <div class="controls">
      <%= f.text_field :password, autofocus: true, autocomplete: "off", class: "form-control", required: true %>
    </div>
  </div>

  <div class="form-group form-group-default">
    <%= f.label :password_confirmation, "Confirm new Password" %>
    <div class="controls">
      <%= f.text_field :password_confirmation, autocomplete: "off", class: "form-control", required: true %>
    </div>
  </div>

  <%= f.submit "Change Password", class: "btn btn-primary btn-large btn-block m-t-10" %>
<% end %>
