<section class="jumbotron full-height relative" data-pages-bg-image="<%= image_path('camera.jpg') %>" data-bg-overlay="black" data-overlay-opacity="0.7">
  <div class="container-xs-height full-height">
    <div class="col-xs-height col-middle text-left">
      <div class="content-layer">
        <div class="inner full-height">
          <div class="container-xs-height full-height">
            <div class="col-xs-height col-middle text-center">
              <div class="container">
                <div class='row'>
                  <div class="col-md-7 no-padding col-xs-10 col-xs-offset-1 col-md-offset-5">
                    <h1 class="light sm-text-center text-white" data-swiper-parallax="-15%" style="transform: translate3d(0%, 0px, 0px);">
                      A community curation of
                    </h1>
                    <h4 class="sm-text-center text-white">Beautiful elegant products from Indian merchants</h4>
                    <%= link_to image_tag('arrow_down.png'), '#', data: { toggle: "velocity", target: "#home-featured" } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="home-featured" class="no-overflow relative">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h6 class="block-title m-b-0 ">Discover amazing products</h6>
        <h1 class="m-t-5">Tell us what you need<br>Type anywhere to search</h1>
        <p class="m-t-20">
          Search through all the products on <strong>Handlisted.in</strong>, curated by our community, to discover that next amazing thing that you need. Simply, start typing anywhere you want to search.
        </p>
      </div>
    </div>
    <%= link_to image_tag('arrow_down_2.png', class: 'm-t-30'), '#', data: { toggle: "velocity", target: "#explore" } %>
    <% if featured_product.present? %>
      <div class='row'>
        <div class='col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 open-details' data-pages="float" data-max-top-translate="40" data-max-bottom-translate="300" data-speed="-0.1" data-delay="1000" data-curve="ease">
          <%= card_for(featured_product) %>
        </div>
      </div>
    <% end %>
  </div>
</section>

<section id='explore' class="bg-master-darkest" data-pages-bg-image="<%= asset_path('office-desk.jpg') %>" data-bg-overlay="black" data-overlay-opacity="0.7">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="col-middle">
          <div class="text-center">
            <h1 class="text-white col-sm-12 p-b-10">
              Hand-picked products!
              <br/>
              For you, and people around you.
            </h1>
            <%= link_to 'Browse Products', products_path, class: "btn btn-lg btn-primary btn-cons btn-rounded m-t-20" %>
            <%= link_to 'Learn More', page_path("add-products"), class: "text-master btn btn-lg btn-warning btn-cons btn-rounded m-t-20" %>
            <p class="fs-12 font-arial text-white m-t-30">
              <span class="hint-text">Exclusively curated by Our community</span>
              <br/>From Indian merchants like Amazon, Snapdeal, Flipkart, and others.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="home-progress" class="container container-fixed-lg">
  <div class="md-p-l-20 md-p-r-20 xs-no-padding clearfix">
    <div class="row">
      <div class="col-sm-3 xs-m-b-30">
        <h2 class="font-montserrat no-margin text-uppercase p-l-30 sm-no-padding"><span data-pages-animate="number" data-value="<%= total_products %>" data-animation-duration="800">0</span></h2>
        <h6 class="block-title fs-13 m-t-5 text-uppercase p-l-30 sm-no-padding muted">Products Curated</h6>
      </div>
      <div class="col-sm-9">
        <div class="xs-no-padding">
          <p>The <strong>Handlisted.in</strong> community strives to curate meaningful innovative and elegant products from various Indian stores. The aim behind this effort is to narrow down the choices to a selected few hand-picked products.</p>
        </div>
      </div>
    </div>
    <div class="progress progress-tiny m-t-15 m-b-5">
      <div class="progress-bar" role="progressbar" aria-valuenow="<%= updated_progress %>" aria-valuemin="0" aria-valuemax="100" data-pages-animate="progressbar" data-percentage="<%= updated_progress %>%" >
        <span class="sr-only"><%= updated_progress %>% Complete</span>
      </div>
    </div>
    <p class="pull-right font-arial hint-text fs-11"><%= updated_progress %>% <span class="hint-text">Products have been Reviewed by Community</span>. <%= link_to "Want to Help Us?", page_path("add-products") %></p>
  </div>

  <div class="p-t-60 md-p-l-20 md-p-r-20 xs-no-padding xs-m-t-20">
    <h5 class="block-title hint-text no-margin">Like/Review/Share</h5>
    <h2 class="m-t-5">As a community member, you can like, review or share new products.</h2>
    <div class="col-sm-10 no-padding">
      <h4 class="hint-text">Each of these actions takes you one step closer to a secret badge - that helps display your contribution in the community. We specially admire any efforts in describing the product briefly, in your own words.</h4>
    </div>
  </div>
</section>

<section class="bg-master-lightest" id='listing'>
  <div class="container text-center">
    <h5 class="block-title hint-text m-b-0"><%= link_to 'Add a Product', page_path('add-products') %> OR</h5>
    <h1 class="light m-t-5">Browse our Curated Products</h1>
    <h5 class="hint-text">You can, always, type anywhere to search our database</h5>
    <% categories = featured_categories(3) %>
    <div class="xs-m-t-20 sm-m-t-30 m-t-40">
      <div class="col-xs-12 col-sm-6  col-md-4 text-center"><%= card_for(categories[0]) %></div>
      <div class="col-xs-12 col-sm-6  col-md-4 text-center"><%= card_for(categories[1]) %></div>
      <div class="col-xs-12 hidden-sm col-md-4 text-center"><%= card_for(categories[2]) %></div>
    </div>
  </div>
</section>
