<div class="newsletter">
  <h3> Want beautiful products delivered right to your inbox?</h3>
  <p class='action'>Subscribe to our newsletter.</p>
  <div class="admin-form theme-primary">
    <div class="panel panel-primary">
      <%= form_tag newsletter_subscription_path, method: :post, remote: true do %>
        <div class="panel-body row">
          <div class="section col-xs-8 col-sm-6">
            <%= label_tag :email, class: "field prepend-icon" do %>
              <%= email_field_tag :email, nil, placeholder: "Email address", class: "gui-input", required: true, email: true %>
              <%= label_tag :email, fa_icon('envelope').html_safe, class: "field-icon" %>
            <% end %>
          </div>
          <%= submit_tag 'Subscribe', class: "button btn-primary col-xs-4 col-sm-4" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
