<h3>Discover amazing products from leading merchant sites,
  curated by a community with a great taste.</h3>

<ul class='footer-nav'>
  <li><%= link_to "About", page_path("about") %>
  <li><%= link_to "App", page_path("app") %>
  <li><%= link_to "Add Products", page_path("add_products") %>
  <li class='hidden-320'><%= link_to "Press", page_path("press") %>
  <li><%= link_to "Blog", page_path("blog") %>
  <li class='hidden-400'><%= link_to "Log out", destroy_user_session_path, method: :delete %>
</ul>
<p>handlisted.in is an independent company.<br/>
Merchants that appear on this website have their respective trademarks.<br/>
©2015 handlisted.in. All rights reserved.</p>

<ul class='footer-links'>
  <li><%= link_to "Terms", page_path("terms") %>
  <li><%= link_to "Privacy", page_path("privacy") %>
  <li><%= link_to "Directory", page_path("listing") %> <!-- TODO: replace with real path -->
  <li class='hidden-360'><%= link_to "Send feedback", "mailto:hello@handlisted.in" %>
</ul>

<ul class='social-links'>
  <li><%= link_to fa_icon(:twitter,   class: "fa-2x"), "http://twitter.com/handlisted" %>
  <li><%= link_to fa_icon(:instagram, class: "fa-2x"), "http://instagram.com/handlisted" %>
  <li><%= link_to fa_icon(:facebook,  class: "fa-2x"), "http://facebook.com/handlisted" %>
  <li><%= link_to fa_icon(:pinterest, class: "fa-2x"), "http://pinterest.com/handlisted" %>
</ul>
