<%= form_for(resource, as: resource_name, url: session_path(resource_name), builder: UserFormBuilder) do |f| %>
  <div class="panel-body bg-light p30">
    <div class="row">
      <div class="col-sm-7 pr30">
        <%= devise_error_messages! %>

        <%= f.text_field :login, autofocus: true, placeholder: "Email or Username", class: "gui-input", icon: 'user' %>
        <%= f.password_field :password, autocomplete: 'off', class: "gui-input", icon: 'lock' %>
      </div>
      <%= render "devise/shared/sign_up_benefits" %>
    </div>
  </div>
  <div class="panel-footer clearfix p10 ph15">
    <%= f.submit 'Log in' %>
    <% if devise_mapping.rememberable? -%>
      <%= f.switch_box :remember_me, checked: true %>
    <% end %>
  </div>
<% end %>
<%# <%= render "devise/shared/links" %1> %>
