<p class="p-t-35">Sign into your <strong>Handlisted</strong> account</p>
<%= devise_error_messages! %>
<%= render 'devise/shared/omniauth_links' %>
<%= form_for resource, as: resource_name, url: session_path(resource_name), html: { class: "p-t-15", role: "form" } do |f| %>
  <div class="form-group form-group-default">
    <%= f.label :login %>
    <div class="controls">
      <%= f.text_field :login, autofocus: true, placeholder: "Email or Username", class: "form-control", required: true %>
    </div>
  </div>

  <div class="form-group form-group-default">
    <%= f.label :password %>
    <div class="controls">
      <%= f.password_field :password, placeholder: "Password", required: true, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 no-padding">
      <% if devise_mapping.rememberable? -%>
        <div class="checkbox">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, "Keep Me Signed in" %>
        </div>
      <% end -%>
    </div>
    <div class="col-md-6 text-right">
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
      <% end -%>
    </div>
  </div>
  <%= f.submit "Log in", class: "btn btn-primary btn-cons m-t-10" %>
  <%= link_to "Register", new_user_registration_path, class: "btn btn-primary btn-cons m-t-10" %>
<% end %>

<!--
<div class="pull-bottom sm-pull-bottom">
  <div class="m-b-30 p-r-80 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
    <div class="col-sm-3 col-md-2 no-padding">
      <img alt="" class="m-t-5" data-src="assets/img/demo/pages_icon.png" data-src-retina="assets/img/demo/pages_icon_2x.png" height="60" src="assets/img/demo/pages_icon.png" width="60">
    </div>
    <div class="col-sm-9 no-padding m-t-10">
      <p>
        <small>
          Create a pages account. If you have a facebook account, log into it for this
          process. Sign in with <a href="#" class="text-info">Facebook</a> or <a href="#"
            class="text-info">Google</a>
        </small>
      </p>
    </div>
  </div>
</div>
-->
