<div id="<%= presenter.id :overview %>" class="productCard-overview">
  <div class="row jumbotron" data-pages="parallax">
    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
      <div class="inner">
        <ul class="breadcrumb">
          <li><%= presenter.merchant_link %></li>
          <% if presenter.brand.present? %>
            <li><%= presenter.brand_link %></li>
          <% end %>
        </ul>

        <div class="container-md-height m-b-20">
          <div class="row row-md-height">

            <div class="col-md-6 col-md-height col-middle bg-white">
              <div class="panel panel-transparent full-height">
                <div class="panel-heading">
                  <div class="panel-controls">
                    <ul>
                      <li><%= presenter.refresh_button size: 2, class: "m-r-10" %></li>
                      <li><%= presenter.like_button size: 2, kind: :overview %></li>
                    </ul>
                  </div>
                </div>
                <div class="panel-body text-center">
                  <div class='panel-image panel-image-centered'>
                    <div class='image-container' style='background-image: url("<%= presenter.cover_image %>")'></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-height col-md-6 col-top">
              <div class="panel panel-transparent">
                <div class="panel-heading">
                  <div class="panel-title"><%= presenter.name %></div>
                </div>
                <div class="panel-body">
                  <div class='row'>
                    <div class='col-xs-12 col-sm-6 col-md-12'>
                      <%= presenter.affiliate_button %>
                      <h3 class='m-b-20 founder'>Found by <%= present(presenter.founder).username_link %></h3>
                      <%= presenter.social_sharing popup: true, via: "handlisted" %>
                    </div>
                    <div class='col-xs-12 col-sm-6 col-md-12'>
                      <%= render "users/lists/mini", users: presenter.likers, primary: presenter.founder %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% if @product.description.present? %>
    <div class='container-fluid container-fixed-lg'>
      <div class='row'>
        <div class='col-md-7'>
          <div class='panel panel-default product-description'>
            <div class='panel-heading'>
              <div class='panel-title'>Product Description</div>
            </div>
            <div class='panel-body'>
              <%= presenter.markdowned_description.try :html_safe %>
            </div>
          </div>
        </div>

        <div class='col-md-5'>
          <div class='panel panel-transparent related-products'>
            <div class='panel-heading'>
              <div class='panel-title'>Comments/Reviews</div>
            </div>
            <div class='panel-body'>
              <%= render "comments/form" %>
              <%= render "comments/lists/default", comments: product.comments %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if @product.related_products.any? %>
    <div class='container-fluid container-fixed-lg'>
      <div class='panel panel-transparent related-products'>
        <div class='panel-heading'>
          <div class='panel-title'>Related Products</div>
        </div>
        <div class='panel-body'>
          <%= render "products/lists/mini", products: product.related_products %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="panel panel-success panel-comments">
    <div class="panel-heading text-center">
      <h3>Comments</h3>
    </div>
    <div class="panel-body chat-widget">
      <% self.formats = [:html] %>
      <%= render "comments/add" %>
      <%# NOTE: for product info modal, content type is JS, but we want to render HTML. %>
      <div class="commentsList-ajax">
        <%= render "comments/lists/default", comments: @comments %>
      </div>
    </div>
  </div>
</div>
