<%# TODO: use CSS background for displaying images rather than img tag %>
<div class="panel panel-tile text-center br-a br-grey product-card">
  <div class="panel-body">
    <div class="product-details"><h3><%= product.short_name %></h3></div>
    <div class="product-image" data-link="<%= product.path %>" data-image="<%= product.cover_image %>"> </div>
  </div>
  <div class="panel-footer br-t p12">
    <span class="fs11">
      <div class="widget-menu pull-left ml10">
        <span class="label bg-primary mr10 label-<%= product.merchant.identifier %>">
          <%= product.merchant.name %>
        </span>
        <span class="badge"><%= product.price %></span>
      </div>
      <span class="panel-title">&nbsp;</span>
      <div class="widget-menu pull-right mr10">
        <%= link_to fa_icon('search', class: "fa-2x"), product.path %>
        <%= fa_icon 'check', class: "fa-2x" if product.prioritized? %>&nbsp;
        <%= link_to fa_icon('heart-o', class: "fa-2x", style: "color:grey"), "#" %>
      </div>
    </span>
  </div>
  <div id="modal-panel" class="product-info popup-full bg-none mfp-with-anim mfp-hide">
    <%= render 'products/info', product: product %>
  </div>
</div>
