<%# TODO: use CSS background for displaying images rather than img tag %>
<div class="panel panel-tile text-center br-a br-grey product-card" data-pid="<%= product.pid %>">
  <div class="panel-body">
    <%= presenter.price_badge %>
    <div class="product-image" data-link="<%= product_path(product) %>">
      <div class="container" style='background-image: url("<%= presenter.cover_image %>")'></div>
      <div class="product-details">
        <div class='flexbox'>
          <div class="product-name"> <h3><%= presenter.name %></h3> </div>
          <br/>
          <p>
            <% if presenter.brand.present? %>
              By <span class="brand"><%= presenter.brand %></span><br/>
            <% end %>
          on <span class="merchant"><%= presenter.merchant %></span></p>
        </div>
      </div>
    </div>
    <p class='error'></p>
  </div>
  <div class="panel-footer br-t p12">
    <span class="fs11">
      <div class="widget-menu pull-left ml10">
        <span class="label bg-primary mr10 label-<%= product.merchant.identifier %>">
          <%= product.merchant.name %>
        </span>
      </div>
      <span class="panel-title">&nbsp;</span>
      <div class="widget-menu pull-right mr10">
        <%= link_to fa_icon('search', class: "fa-2x"), product_path(product) %>
        <%= presenter.like_button %>
      </div>
    </span>
  </div>
  <div id="modal-panel" class="product-info popup-full bg-none mfp-with-anim mfp-hide">
    <%= render 'products/info', product: product, presenter: presenter %>
  </div>
</div>
