<div class="panel main">
  <div class="panel-body">
    <div class="row">
      <div class="product-image col-sm-6" data-link="<%= product_path(product) %>">
        <div class="container" style='background-image: url("<%= presenter.cover_image %>")'></div>
      </div>
      <div class="col-sm-6 product-details mb20">
        <div class="text-info">
          <h1 class="product-name pln"><%= presenter.name %></h3>
          <% if product.brand.present? %>
            <h3 class="product-brand text-muted">By <span class="text-dark"><%= product.brand_name %></span></h4>
          <% end %>
        </div>
        <%= presenter.affiliate_link_action_button target: '_blank' %>
        <%= render layout: "users/mini_list", locals: { users: product.likers.order("likes.created_at desc"), primary: product.founder } do %>
          Oh Snap! <strong>No one has liked this product, yet!</strong>
          Be the first to like this product!
        <% end %>
        <div class="founder-info">
          Found by <%= present(product.founder).username_link %>
      </div>
    </div>
  </div>
</div>
</div>

<% if presenter.marked_description.present? %>
  <div class="panel panel-warning panel-description">
    <div class="panel-heading text-center">
      <h3>Description</h3>
    </div>
    <div class="panel-body" style='overflow-y: scroll !important'>
      <div class='markdown'>
        <%= presenter.marked_description.try :html_safe %>
      </div>
    </div>
  </div>
<% end %>

<div class="panel panel-success panel-comments">
  <div class="panel-heading text-center">
    <h3>Comments</h3>
  </div>
  <div class="panel-body chat-widget">
    <% self.formats = [:html] %>
    <%= render "comments/add" %>
    <%# NOTE: for product info modal, content type is JS, but we want to render HTML. %>
    <div class="listing">
      <%= render "comments/listing", comments: @comments %>
    </div>
  </div>
</div>
