<% if products.any? %>
  <div class="row products list <%= kind if kind.present? %> <%= group if group.present? %>">
    <% products.each do |product| %>
      <div class="<%= html[:class] || "col-sm-6 col-md-4" %>">
        <%= render "products/card", product: product, presenter: present(product) %>
      </div>
    <% end %>
  </div>
  <div class="paginator"> <%= paginate products, params: { kind: kind, group: group } %> </div>
<% else %>
  <div class="alert alert-sm alert-dark pastel productList-empty">
    <i class="fa fa-cubes pr10"></i>
    <%= yield %>
  </div>
<% end %>
