<div id="<%= presenter.id :overview %>" class="product overview bg-transparent">
  <div class="row jumbotron" data-pages="parallax">
    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
      <div class="inner">
        <ul class="breadcrumb">
          <li><%= presenter.merchant_link %></li>
          <% if presenter.brand.present? %><li><%= presenter.brand_link %></li><% end %>
        </ul>

        <div class="container-md-height m-b-20">
          <div class="row row-md-height">

            <div class="col-md-6 col-md-height col-middle bg-white">
              <div class="panel panel-transparent full-height">
                <div class="panel-heading">
                  <div class="panel-controls">
                    <ul>
                      <%# <li><%= presenter.refresh_button size: 2, class: "m-r-10" %1></li> %>
                      <%# <li><%= presenter.like_button size: 2, kind: :overview %1></li> %>
                    </ul>
                  </div>
                </div>
                <div class="panel-body text-center">
                  <div class='panel-image panel-image-centered'>
                    <div class='image-container' style='background-image: url("<%= presenter.cover_image %>")'></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-height col-md-6 col-top">
              <div class="panel panel-transparent">
                <div class="panel-heading p-t-0 m-b-10">
                  <div class="panel-title"><%= presenter.name %></div>
                </div>
                <div class="panel-body">
                  <div class='row'>
                    <div class='col-xs-12 col-sm-6 col-md-12'>
                      <%= presenter.affiliate_button %>
                      <h3 class='m-b-20 founder'>Found by <%= present(presenter.founder).username_link %></h3>
                      <%= presenter.social_sharing popup: true, via: "handlisted" %>
                    </div>
                    <div class='col-xs-12 col-sm-6 col-md-12'>
                      <%# <%= render "users/listing", users: presenter.likers, primary: presenter.founder %1> %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% if presenter.note.present? %>
    <div class='panel panel-default product-note bg-master'>
      <div class='panel-heading text-center'>
        <div class='panel-title text-warning'>Editor's Note</div>
      </div>
      <div class='panel-body'>
        <%= presenter.note.try :html_safe %>
      </div>
    </div>
  <% elsif presenter.description.present? %>
    <div class='panel panel-default product-description m-t-20'>
      <div class='panel-heading'>
        <div class='panel-title'>Product Description</div>
      </div>
      <div class='panel-body'>
        <%= presenter.markdowned_description.try :html_safe %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-9">
      <% if presenter.related_products.any? %>
        <div class='panel panel-transparent related-products'>
          <div class='panel-heading'>
            <div class='panel-title'>Related Products</div>
          </div>
          <div class='panel-body'>
            <%# <%= render "products/listing", products: presenter.related_products, kind: :mini, group: :related, html: { class: "col-sm-6 col-md-3" } %1> %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-3">
      <div class='panel product-comments'>
        <div class='panel-heading'>
          <div class='panel-title'>Comments/Reviews</div>
        </div>
        <div class='panel-body'>
          <%= render "comments/form" %>
          <%= render "comments/lists/default", comments: @comments %>
        </div>
      </div>
    </div>
  </div>
