<!DOCTYPE html>
<html>
  <%= render 'shared/head' %>
  <body class="<%= current_user ? 'sb-l-o' : 'sb-l-m' %> sb-r-c">
    <div id="main">
      <%= render 'shared/navbar' %>
      <%= render 'shared/sidebar' %>
      <section id="content_wrapper">
        <%= render 'shared/topbar' %>
        <section id="content" class="animated fadeIn">
          <%= render 'shared/flashes' %>
          <%= yield %>
        </section>
      </section>
    </div>
  </body>
</html>
