<!DOCTYPE html>
<html>
  <%= render 'shared/head' %>
  <body class="<%= product_page? ? 'product-page sb-l-o' : 'sb-l-o' %> <%= home_page? ? 'home-page' : '' %> sb-r-c">
    <div id="main">
      <%= render 'shared/navbar' %>
      <%= render 'shared/sidebar' %>
      <%= render 'shared/home_page/slider' if home_page? %>
      <section id="content_wrapper">
        <%= render 'shared/topbar' %>
        <section id="content" class="animated fadeIn">
          <%= render 'shared/flashes' %>
          <%= yield %>
        </section>
      </section>
      <%= render 'shared/footer' %>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
