<!DOCTYPE html>
<html>
  <%= render 'shared/head' %>
  <body class="sb-r-c sb-l-c <%= home_page? ? 'home-page' : '' %>">
    <div id="main">
      <%= render 'shared/navbar' %>
      <%# <%= render 'shared/sidebar' if current_user.present? %1> %>
      <% if home_page? && current_user.blank? %>
        <%= render 'shared/promotions/header_shout_out' %>
      <% else %>
        <%= yield :primary_box %>
      <% end %>
      <section id="content_wrapper">
        <%= render 'shared/topbar' %>
        <section id="content" class="animated fadeIn">
          <%= render 'shared/flashes' %>
          <%= yield %>
        </section>
      </section>
      <%= render 'shared/footer' %>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
