<!DOCTYPE html>
<html>
  <%= render 'shared/head' %>
  <body class="<%= static_page? ? 'static-page sb-l-o' : 'sb-l-o' %> sb-r-c">
    <div id="main">
      <%= render 'shared/navbar' %>
      <%= render 'shared/sidebar' %>
      <%= render 'shared/home_page/slider' if request.path == root_path %>
      <section id="content_wrapper">
        <%= render 'shared/topbar' %>
        <section id="content" class="animated fadeIn">
          <%= render 'shared/flashes' %>
          <%= yield %>
        </section>
      </section>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
