<!DOCTYPE html>
<html>
  <%= render "layouts/application/head" %>
  <body class="fixed-header menu-behind <%= 'pages' if static_page? %>">
    <%# <%= render "layouts/application/sidebar" %1> %>

    <%= render "layouts/application/header" %>

    <% if static_page? %>
      <%= yield %>
      <%= render "layouts/application/footer" %>
    <% else %>
      <div class="page-container">
        <div class="page-content-wrapper">
          <div class="content sm-gutter">
            <%# <%= yield :primary_box %1> %>
            <div class='container-fluid padding-25 sm-padding-10'>
              <%= render 'layouts/application/notices' %>
              <%= yield %>
            </div>
          </div>
        </div>
        <%= render "layouts/application/quickview" %>
        <%= render "layouts/application/footer" %>
      </div>
    <% end %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true, 'data-turbolinks-eval' => false %>
  </body>
</html>
