<!DOCTYPE html>
<html>
  <%= render "layouts/application/head" %>

  <body class="fixed-header">
    <div class="login-wrapper ">
      <div class="bg-pic">
        <%= image_tag "featured.jpg", class: "lazy" %>
        <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
          <h2 class="semi-bold text-white">
            Discover, curate, and review products that you love!
          </h2>
        </div>
      </div>

      <div class="login-container bg-white">
        <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
          <%= link_logo_to root_path %>
          <%= yield %>
        </div>
      </div>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true, 'data-turbolinks-eval' => false %>
  </body>
</html>
